<plugin name='p6spy' version='0.4'>
  <author>Paul Rule</author>
  <authorEmail>paul@javathinking.com</authorEmail>
  <title>This plugin adds p6spy to your application</title>
  <description>P6Spy plugin adds the p6spy library to your Grails application.
P6Spy lets you monitor the JDBC queries by proxying your database driver.
In addition to logging the prepared statements, it also logs the sql with
parameters in place so you can copy and paste the exact sql into your favourite
database client to test the results.

Visit the p6spy website at http://p6spy.com/
	</description>
  <resources>
    <resource>UrlMappings</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
  </resources>
</plugin>